body{
    color: white;
    background-color: black;
    margin: 20px;
    padding: 20px;
}
a{
    color: white;
}
main{
    box-shadow: 10px 10px 10px  rgb(255, 255, 255);
    text-align: center;
}